
.navWrapper {
  position: relative;

  /* tweaks */
  border: 1px solid white;
  border-left: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.navContent  {
  min-height: 100vh;

  /* tweaks */
  background-color: rgb(8, 8, 48);

  /* pre-transition setup */
  width: 250px;
  overflow: hidden;
  transition: 700ms ease-out;
}

.navLinks {
  /* empty class used to provide 
  styles for Link elements*/
}

.navLinks > * { /*Link elements*/
  padding-left: 15px;
  padding-right: 45px; /*width of navToggle + padding-left*/
  /* tweaks */
  display: inline-block;
  width: 100% ;
  color: white;
  transition: 200ms;
}

.navLinks > *:hover { /*Link elements*/
  text-decoration: none;
  color: white; /* same as when not hovered */
}
.navLinks > *:active { /*Link elements*/
  font-weight: bold;
}

.navToggle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;

  /* tweaks */
  cursor: pointer;
  transition: 100ms;
  background-color: darkgray;
}

.navToggle:hover {
  background-color: lightgray;
  transform-origin: top;
}
.navToggle:active {
  background-color: darkgray;
  border-left: 5px outset white; /*same color as the page*/
}

.navToggle i  { /* navToggle Icon */
  position: relative;
  top: 10px;
  left: 7px;
  color: white;
  transition: 800ms ease-out;
}

.navToggle span { /* navToggle Text */
  position: relative;
  top: 20px;
  color: white;
  font-size: 1.1rem;
  font-style: oblique;
  font-weight: bold;
  letter-spacing: 2px;

  /* text manipulation */
  writing-mode: vertical-rl;
  text-orientation: upright;
}